div .custom-tooltip {
  width: 140px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: #632342aa;
}

div .custom-tooltip p {
  display: flex;
  flex: 1;
  justify-content: space-between;

  font-size: 14px;
  line-height: 21px;
  color: #eee;
}

section .chart {
  display: flex;
  flex-direction: column;
}

div .historical {
  margin-bottom: 15px;
  margin-right: 10px;
  display: flex;
  align-self: flex-end;
}

div .historical li {
  list-style: none;
}

div .historical li + li {
  margin-left: 5px;
}

div .historical li button {
  font-size: 14px;
  padding: 4px 10px;
}
